.page-container.accounts {
  display: flex;
}

.account-list-sidebar {
  border-right: 1px solid steelblue;
  left: 0;
  width: 15vw;
  height: var(--under-navbar);
  overflow-y: auto;
  padding: 10px;
}

.single-account-container {
  margin-bottom: 20px;
  position: relative;
  top: 0;
  left: 0;
  transition:
    top 0.2s,
    left 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  border: 1px solid steelblue;
  width: 100%;
  height: 75px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px darkgrey;
}

.single-account-container.selected {
  top: 3px;
  left: 3px;
  box-shadow: 0px 0px 0px steelblue;
}

.single-account-container > .hotswap-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotswap-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-account-container :is(.hotswap-input, .hotswap-text) {
  height: 100%;
  max-width: calc(15vw - 80px);
  min-width: calc(15vw - 80px);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-account-container button {
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: steelblue;
  color: white;
  border-radius: 5px;
  font-weight: 550;
}

.new-account {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: steelblue;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 10px;
}

.new-account-input:not(.description) {
  text-align: center;
}

.account-container {
  padding: 10px;
}

.new-account-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.new-account:is(.subcontainer, .submit) {
  width: 50%;
}

.new-account.subcontainer {
  justify-content: space-between;
}

.new-account.submit {
  justify-content: center;
}
