:root {
  --under-navbar: calc(100vh - 50px);
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

#main-site-container {
  height: var(--under-navbar);
  width: 100vw;
  overflow: hidden;
}

.page-container {
  height: var(--under-navbar);
  width: 100vw;
}
